include LICENSE
include AUTHORS
include COPYING
include THIRD_PARTY_NOTICES.md
include CHANGELOG.md
include README.md
recursive-include licenses/third_party *.txt
recursive-include licenses/third_party *.md
recursive-include licenses/third_party *NOTICE*
recursive-include licenses/third_party *LICENSE*
recursive-include licenses/third_party *LICENCE*
recursive-include licenses/third_party *COPYING*
recursive-include licenses/third_party *AUTHORS*
recursive-include docs *.md
recursive-include src/configreader py.typed
